@{
    ViewBag.Title = "Administration";
}
<mom-admin>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-1 admin-sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="#" title="Parent"><i class="fa fa-level-up fa-2x"></i></a></li>
                    <li [class.active]="isLinkActive(['./AdminContent'])" [routerLink]="[ './AdminContent']"><a [routerLink]="[ './AdminContent']" title="Content"><i class="fa fa-sitemap fa-2x"></i><p>Content</p></a></li>
                    <li [class.active]="isLinkActive(['./AdminSecurity'])" [routerLink]="[ './AdminSecurity']"><a [routerLink]="[ './AdminSecurity']" title="Security"><i class="fa fa-shield fa-2x"></i><p>Security</p></a></li>
                    <li [class.active]="isLinkActive(['./AdminReports'])" [routerLink]="[ './AdminReports']"><a [routerLink]="[ './AdminReports']" title="Dashboards and Reports"><i class="fa fa-line-chart fa-2x"></i><p>Reports</p></a></li>
                    <li [class.active]="isLinkActive(['./AdminModules'])" [routerLink]="[ './AdminModules']"><a [routerLink]="[ './AdminModules']" title="Modules"><i class="fa fa-cubes fa-2x"></i><p>Modules</p></a></li>
                    <li [class.active]="isLinkActive(['./AdminSettings'])" [routerLink]="[ './AdminSettings']"><a [routerLink]="[ './AdminSettings']" title="Settings"><i class="fa fa-cogs fa-2x"></i><p>Settings</p></a></li>
                </ul>
            </div>
            <div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 admin-main">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</mom-admin>