<mom-admin-settings class="container-fluid">
    <h1>Settings</h1>
    <tabset>
        <tab>
            <template tab-heading>
                <i class="fa fa-globe mom-icon"></i><span>Site</span>
            </template>
            Site content
        </tab>
        <tab>
            <template tab-heading>
                <i class="fa fa-paint-brush mom-icon"></i><span>Themes</span>
            </template>
            Themes content
        </tab>
        <tab>
            <template tab-heading>
                <i class="fa fa-search mom-icon"></i>
                <span>Search</span>
            </template>
            Search content
        </tab>
        <tab>
            <template tab-heading>
                <i class="fa fa-tachometer mom-icon"></i>
                <span>Performance</span>
            </template>
            Performance content
        </tab>
    </tabset>
</mom-admin-settings>