@{
    ViewBag.Title = "Administration";
}
<mom-admin>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-md-1 admin-sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="#" title="Parent"><i class="fa fa-level-up fa-2x"></i></a></li>
                    <li class="active"><a href="#" title="Content"><i class="fa fa-sitemap fa-2x"></i><p>Content</p></a></li>
                    <li><a href="#" title="Users"><i class="fa fa-users fa-2x"></i><p>Security</p></a></li>
                    <li><a href="#" title="Mail and SMS"><i class="fa fa-envelope fa-2x"></i><p>Message</p></a></li>
                    <li><a href="#" title="Dashboards and Reports"><i class="fa fa-line-chart fa-2x"></i><p>Reports</p></a></li>
                    <li><a href="#" title="Modules"><i class="fa fa-cubes fa-2x"></i><p>Modules</p></a></li>
                    <li><a href="#" title="Settings"><i class="fa fa-cogs fa-2x"></i><p>Settings</p></a></li>
                </ul>
            </div>
            <div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 admin-main">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</mom-admin>