<mom-admin-security class="container-fluid">
    <h1>Settings</h1>
    <tabset>
        <tab>
            <template tab-heading>
                <i class="fa fa-users mom-icon"></i>
                <span>Users</span>
            </template>
            Site content
        </tab>
        <tab>
            <template tab-heading>
                <i class="fa fa-graduation-cap mom-icon"></i>
                <span>Roles</span>
            </template>
            Roles content
        </tab>
        <tab>
            <template tab-heading>
                <i class="fa fa-check-square-o"></i>
                <span>Permissions</span>
            </template>
            Permissions content
        </tab>
    </tabset>
</mom-admin-security>