<mom-admin-modules class="container-fluid">
    <h1>Modules</h1>
    <tabset>
        <tab>
            <template tab-heading>
                <i class="fa fa-home mom-icon"></i><span>Installed</span>
            </template>
            <div class="container-fluid margin-top margin-bottom">
                <div class="card-deck-wrapper">
                    <div class="card-deck">
                        <div class="card ma" *ngFor="#module of modules">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <h3 class="card-title"><i class="{{module.iconCss}} mom-icon"></i>{{module.name}}</h3>
                                    </div>
                                    <div class="col-md-2 text-md-right text-sm-right text-xs-right">
                                        <span>v{{module.versionMajor}}.{{module.versionMinor}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">
                                <div class="alert alert-info">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <h4><i class="fa fa-bolt mom-icon"></i>Update available</h4>
                                        </div>
                                        <div class="col-md-2 text-md-right text-sm-right text-xs-right">
                                            <span>v{{module.versionMajor}}.{{module.versionMinor}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="card-link"><i class="fa fa-link mom-icon"></i>Changelog</a>
                                        </div>
                                        <div class="col-sm-6 text-md-right text-sm-right text-xs-right">
                                            <button type="button" class="btn btn-success">Update</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <span>{{module.description}}</span>
                                    </div>
                                </div>                    
                            </div>
                            <div class="card-block text-xs-right"><a href="#" class="btn btn-danger">Uninstall</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab>
            <template tab-heading>
                <i class="fa fa-download mom-icon"></i><span>Get More...</span>
            </template>
            Online content
        </tab>
    </tabset>
</mom-admin-modules>