@{
    ViewBag.Title = "Home";
}

<nav class="navbar navbar-light navbar-fixed-top mom-header-navbar">
    <div class="pull-xs-left">
        <a class="navbar-brand text-xs-left" [routerLink]="['/Home']">
            <img src="~/site/logo.png" srcset="~/site/logo.svg 1x" class="navbar-brand" alt="EasyModules.NET Logo" width="320" height="48">
        </a>
    </div>
    <div class="pull-xs-right">
        <button type="button" class="navbar-toggler hidden-lg-up text-xs-right" (click)="isCollapsed = !isCollapsed">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <div class="hidden-md-down" *ngIf="routes != null">
        <nav class="nav navbar-nav pull-xs-left">
            <a class="nav-item nav-link" *ngFor="let rt of menu" [routerLink]="[rt.name]">{{rt.name}}</a>
        </nav>
        <form class="pull-xs-right">
            <label class="sr-only" for="search">Search...</label>
            <div class="input-group mom-header-search">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" id="search" placeholder="Search...">
            </div>
        </form>
    </div>
    <div class="container-fluid mom-collapse-menu" *ngIf="routes != null" [collapse]="isCollapsed">
        <nav class="nav navbar-nav pull-xs-left">
            <a class="nav-item nav-link" *ngFor="let rt of menu" [routerLink]="[rt.name]">{{rt.name}}</a>
        </nav>
        <form class="pull-xs-right">
            <label class="sr-only" for="search">Search...</label>
            <div class="input-group mom-header-search">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" id="search" placeholder="Search...">
            </div>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row margin-top-small margin-bottom-small">
        <div class="col-md-12 text-md-right text-sm-right text-xs-right">
            @await Html.PartialAsync("_LoginPartial")
        </div>        
    </div>
</div>
    <router-outlet></router-outlet>
    <footer [hidden]="isAdminArea">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <p><span class="footer-headline"><i class="fa fa-home fa-2x"></i>&nbsp;Address</span></p>
                    <p>Klostermarksvej 6</p>
                    <p>2700 Brønshøj</p>
                    <p>Denmark</p>
                </div>

                <div class="col-sm-4">
                    <p><span class="footer-headline"><i class="fa fa-envelope-o fa-2x"></i>&nbsp;Contact</span></p>
                    <p><a href="mailto:info@easymodules.net">info@easymodules.net</a></p>
                    <p>Mobile: +45 61 62 99 99</p>
                </div>
                <div class="col-sm-4">
                    <p><span class="footer-headline"><i class="fa fa-university fa-2x"></i>&nbsp;Legal</span></p>
                    <p>VAT Registration No:&nbsp;&nbsp;&nbsp;DK37043133</p>
                    <p>Production Unit No:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DK1020680705</p>
                    <p>Bank Department No:&nbsp;&nbsp;7436</p>
                    <p>Bank Account No:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0001115673</p>
                </div>
            </div>
        </div>
        <article class="footer-copyright">
            <span>Copyright&nbsp;<i class="fa fa-copyright"></i>&nbsp;2015-2016&nbsp;by&nbsp;EasyModules.NET</span>
        </article>
    </footer>
