@{
    ViewBag.Title = "Install MoM";
}
<div class="container-fluid">
    <div class="row margin-top-small margin-bottom-small">
        <div class="col-md-12 text-md-center text-sm-center text-xs-center">
            <img src="~/site/logo.png" srcset="~/site/logo.svg 1x" class="navbar-brand" alt="EasyModules.NET Logo" width="320" height="48">
        </div>
    </div>
</div>
<router-outlet></router-outlet>
