@{
    ViewBag.Title = "Welcome";
}
<mvc>
    <div class="jumbotron">
        <div class="container-fluid">
            <h1><i class="fa fa-home"></i>&nbsp;Welcome to EasyModules.NET</h1>
            <p>This site focus on sharing knowledge about technologies like .NET, C#, SQL, JavaScript, TypeScript, HTML and CSS.</p>
            <p>We hope you will enjoy your stay.</p>
            <p>Thanks for visiting EasyModules.NET dfd</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img style="width: 100%;" alt="" src="media/images/site/mission.jpg">
            </div>
            <div class="col-sm-6">
                <h2><i class="fa fa-map-signs"></i> Our Mission</h2>
                <p>Having fun coding awesome things.</p>
                <p>Solve real life problems in a creative way using computers and coding.</p>
                <p>Deliver the highest quality of coding while taking different economically aspects, business goals and strategies into account.</p>
                <p>Make solutions accessible to those who will benefit from our inventions.</p>
                <p>We consider sharing knowledge as our main asset.</p>
                <p><span>Facilitate best practices when developing code.</span></p>
                <p><span>Promote partnerships with academic and research institutions.</span></p>
                <p>Being able to be on schedule and find a suitable price for our customers.</p>
                <p>Do not lock ourselves to a specific technology, method or language!</p>
            </div>
        </div>
    </div>
    <div class="container-fluid margin-top margin-bottom-small">
        <h2><i class="fa fa-ticket"></i>&nbsp;Services</h2>
    </div>
    <img class="full-width" alt="" src="media/images/site/services.jpg">
    <div class="container-fluid margin-top margin-bottom">
        <div class="row">
            <div class="col-sm-4">
                <h3><i class="fa fa-code"></i> Software development</h3>
                <p>We offer expertise in the following areas.</p>
                <ul class="em-icon-list">
                    <li>.NET versions 3.5 - 5</li>
                    <li>MS SQL Server 2005-2014</li>
                    <li>Website Development and Design</li>
                    <li>JavaScript and TypeScript</li>
                    <li>Software Architecture</li>
                    <li>Business Intelligence</li>
                </ul>
                <p>Our services are both backend and frontend as we like Full Stack development with focus on solving business problems.</p>
            </div>
            <div class="col-sm-4">
                <h3><i class="fa fa-line-chart"></i> Business insights</h3>
                <p>In order to service you with the best insights about your business we iterate methodically through a well-defined process.</p>
                <ul class="em-icon-list">
                    <li>to do</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3><i class="fa fa-life-ring"></i> Product support</h3>
                <p>All our products offers full support directly from developers with flexible price plans. We take pride in solving issues at the first point of contact with us!</p>
                <p>In order to ease the proccess of gaining the support that solves your problem for the right price we offer a full ticket system for our customers through our own ERP system that can be linked to remote installations.</p>
                <p></p>
            </div>
        </div>
        <h3 style="text-align: right;"><a title="View more details..." [routerLink]="[ 'Services']">View more details... </a></h3>
    </div>
</mvc>