@{
    ViewBag.Title = "Install MoM";
}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Install MoM</h1>
            <h2>Welcome to MoM.</h2>
            <h3>It seems the website is not yet configured.</h3>
            <p>Please follow these steps below in order to setup you new website.</p>
            <tabset>
                <tab>
                    <template tab-heading>
                        Database
                    </template>
                    Database connection content
                </tab>
                <tab>
                    <template tab-heading>
                        Admin account
                    </template>
                    Create admin account content
                </tab>
                <tab>
                    <template tab-heading>
                        Mail
                    </template>
                    Configure Mail and SMS(optional) content
                </tab>
                <tab>
                    <template tab-heading>
                        Modules
                    </template>
                    Select modules content
                </tab>
                <tab>
                    <template tab-heading>
                        Social accounts
                    </template>
                    Social accounts content
                </tab>
            </tabset>
        </div>
    </div>
</div>
