@{
    ViewBag.Title = "Services";
}
<mvc>
    <div class="container-fluid margin-top margin-bottom-small">
        <h2><i class="fa fa-ticket"></i>&nbsp;Services</h2>
    </div>
    <img class="full-width" alt="" src="media/images/site/services.jpg">
    <div class="container-fluid margin-top">
        <div class="row">
            <div class="col-sm-6">
                <h2><i class="fa fa-code"></i> Software development</h2>
                <p>We love developing in the Microsoft .NET framework using C#.</p>
                <p>Securing and versioning is important to us. We are experts in Team Foundation Server and GitHub.</p>
                <p>Automating build processes when it gives meaning to out clients project using Microsoft Build or Jenkins.</p>
                <p>Create the code as modular and simple as possible.</p>
                <p>Document the code well.</p>
                <p>Constant focus on upcoming methods and technologies that makes coding more efficient and how we utilize them in our solutions.</p>
            </div>
            <div class="col-sm-6">
                <p><img class="full-width" alt="" src="media/images/site/services-software-development.jpg"></p>
            </div>
        </div>

        <div class="jumbotron">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <h3><i class="fa fa-globe"></i>&nbsp;Frontend development</h3>
                        <p>Our main focus is Web based client code. At EasyModules.NET we believe web and apps is the way for our clients to interact with the systems.</p>
                        <p>We invest time in creating responsive designs and code that performs fast and is stabile. For this reason we prefer to create our JavaScript code using TypeScript and the ECMAScript standards.</p>
                        <p>Both Razor and SPA based solutions is our ballgame.</p>
                        <p>Some of the frameworks we currently like the most include.</p>
                        <ul class="em-icon-list">
                            <li>Angular 2</li>
                            <li>KnockoutJS</li>
                            <li>React</li>
                            <li>Bootstrap</li>
                            <li>Jquery</li>
                            <li>Moment</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h3><i class="fa fa-server"></i>&nbsp;Backend development</h3>
                        <p>We are experts in C# backend development. Some of our favorite technologies and methods are.</p>
                        <ul class="em-icon-list">
                            <li>MVC</li>
                            <li>Dependency injection</li>
                            <li>
                                Design patterns like Domain Driven Design, SOLID and the common C# patterns like
                                <ul>
                                    <li>
                                        Creational Patterns
                                        <ul>
                                            <li>Abstract Factory Pattern</li>
                                            <li>Builder Pattern</li>
                                            <li>Factory Method Pattern</li>
                                            <li>Prototype Pattern</li>
                                            <li>Singleton Pattern</li>
                                        </ul>
                                    </li>
                                    <li>Structural Patterns</li>
                                    <li>Behavioral Patterns</li>
                                </ul>
                            </li>
                            <li>Latest Microsoft .NET technologies upcomming in vNext with greater support for modular development.</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h3><i class="fa fa-database"></i>&nbsp;Database Experts</h3>
                        <p>We specialize in Microsoft SQL Server and are proven experts in.</p>
                        <ul class="em-icon-list">
                            <li>Database modelling</li>
                            <li>Creating backend services using ORM like Entity Framework, Nhibernate or Dapper.</li>
                            <li>Optimizing database performance</li>
                            <li>Everything in the Microsoft SQL Business Intelligence stack like SSIS, SSAS, SSRS, Power BI etc.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid margin-top">
        <div class="row">
            <div class="col-sm-12">
                <h2><i class="fa fa-line-chart"></i> Business insights</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p><img class="full-width" alt="" src="media/images/site/business-intelligence.jpg"></p>
            </div>
            <div class="col-sm-6">
                <p>We will help you understand your business on a deeper level by analysing and visualising your data.</p>
                <p>Let us work together to identify new <span>opportunities and implement an effective strategy to ensure you have the competitive market advantage and long-term stability.</span></p>
                <p>EasyModules.NET specializes in Microsoft technologies and with our strong competences in writing code we can extend the standard BI stack with custom modules tailored to your specific needs.</p>
                <p>Do not limit yourself to fit in the standard box of BI. Be creative with us.</p>
            </div>
        </div>
        <div class="jumbotron">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <h3><i class="fa fa-key"></i>&nbsp;Key benefits</h3>
                        <ul class="em-icon-list">
                            <li>Boost productivity</li>
                            <li>Access better info</li>
                            <li>Be Competent at decision making</li>
                            <li>Reach established goals</li>
                            <li>Get Insights into Consumer Behavior</li>
                            <li>Improve Visibility</li>
                            <li>Maximize ROI</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h3><i class="fa fa-road"></i>&nbsp;Our method</h3>
                        <ul class="em-icon-list">
                            <li>Interview client</li>
                            <li>Explore data</li>
                            <li>Understand business as well as data</li>
                            <li>Analyze best and worst</li>
                            <li>Recommend actions</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <h3><i class="fa fa-windows"></i>&nbsp;Technologies</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mvc>