@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 col-xl-4 col-xl-offset-4">
            <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">
                <h4>@ViewData["Title"]</h4>
                <p>Change Password Form</p>
                <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                <div class="row margin-top-small">
                    <div class="col-md-10">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-minus-square-o"></i></i></div>
                            <input asp-for="OldPassword" class="form-control" placeholder="Old password">
                        </div>
                    </div>
                </div>
                <div class="row margin-top-small">
                    <div class="col-md-10">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-plus-square-o"></i></i></div>
                            <input asp-for="NewPassword" class="form-control" placeholder="New password">
                        </div>
                    </div>
                </div>
                <div class="row margin-top-small">
                    <div class="col-md-10">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-user-secret"></i></div>
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password">
                        </div>
                    </div>
                </div>
                <div class="row margin-top-small">
                    <div class="col-md-10 text-md-right text-sm-right text-xs-right">
                        <button type="submit" class="btn btn-primary">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
