@{
    ViewData["Title"] = "Welcome from theme Other";
}

<app>
    <div class="spinner-outer">
        <div class="spinner-inner">
            <i class="fa fa-spinner fa-pulse fa-5x"></i>
        </div>
    </div>
</app>

@section head{
<base href="/" />
}

@section scripts {
<environment names="Development">
    <!-- Load libraries -->
    <!-- IE required polyfills, in this exact order -->
    <script src="~/lib/es6-shim.js"></script>
    <script src="~/lib/system-polyfills.js"></script>
    <script src="~/lib/angular2-polyfills.js"></script>
    <script src="~/lib/system.js"></script>
    <script src="~/lib/rxjs/bundles/Rx.js"></script>
    <script src="~/lib/moment.js"></script>

    <script>
    System.config({
        defaultJSExtensions: true,
        map: {
            'rxjs': 'lib/rxjs',
            'moment': 'lib/moment'
        }
    });
    </script>
    <script src="~/lib/angular2.dev.js"></script>
    <script src="~/lib/http.dev.js"></script>
    <script src="~/lib/router.dev.js"></script>
    <script>
        System.import('app/main.dev')
            .then(null, console.error.bind(console));
    </script>
</environment>
<!-- TODO: Libraries should be the minified versions but angular 2 in current version is messy with router when using min -->
<environment names="Staging,Production">
    <!-- Load libraries -->
    <!-- IE required polyfills, in this exact order -->
    <script src="~/lib/es6-shim.js"></script>
    <script src="~/lib/system-polyfills.js"></script>
    <script src="~/lib/angular2-polyfills.js"></script>
    <script src="~/lib/system.js"></script>
    <script src="~/lib/rxjs/bundles/Rx.js"></script>
    <script src="~/lib/moment.min.js"></script>

    <script>
    System.config({
        defaultJSExtensions: true,
        map: {
            'rxjs': 'lib/rxjs',
            'moment': 'lib/moment'
        }
    });
    </script>
    <script src="~/lib/angular2.dev.js"></script>
    <script src="~/lib/http.dev.js"></script>
    <script src="~/lib/router.dev.js"></script>
    <script>
        System.import('app/main')
            .then(null, console.error.bind(console));
    </script>
</environment>


}
