@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}


@*<p>
        For more information on how to enable reset password please see this <a href="http://go.microsoft.com/fwlink/?LinkID=532713">article</a>.
    </p>*@
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 col-xl-4 col-xl-offset-4">
            <h4>@ViewData["Title"]</h4>
            <p>Enter your email.</p>
            <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form">
                <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                            <input asp-for="Email" class="form-control" placeholder="Email">
                        </div>
                    </div>
                </div>
                <div class="row margin-top-small text-md-right text-sm-right text-xs-right">
                    <div class="col-md-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
