<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Install MoM</h1>
            <h2>Welcome to MoM.</h2>
            <h3>It seems the website is not yet configured.</h3>
            <p>Please follow the guide below in order to setup you new website.</p>

            <p>Note: If you have allready setup your site do not run this installer! You should instead check the connectionstring in the appsettings.json located in the root of your website. If this does not work please verify that the Database is running.</p>

            <p>Step 1: Database connection</p>
            <p>Step 2: Create admin account</p>
            <p>Step 3: Configure Mail and SMS(optional)</p>
            <p>Step 4: Select some modules or recipe</p>
            <p>Step 5: Social logins (optional)</p>
        </div>
    </div>
</div>