@{
    ViewData["Title"] = "Welcome to MoM Install guide";
}

<app>
    <div class="spinner-container" *ngIf="isLoading">
        <div class="spinner-outer">
            <div class="spinner-inner">
                <p><img src="~/site/momlogo.png" srcset="~/site/momlogo.svg 1x" class="navbar-brand" alt="MoM Logo" width="152" height="150"></p>
                <p><i class="fa fa-cog fa-spin fa-5x spinner-cog"></i></p>
                <p class="spinner-loading-text">Loading...</p>
            </div>
        </div>
    </div>
</app>

@section head {
<environment names="Development">
    <base href="~/" />
    <!-- Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <script src="lib/core-js/client/shim.min.js"></script>
    <script src="lib/zone.js/dist/zone.js"></script>
    <script src="lib/reflect-metadata/Reflect.js"></script>
    <script src="lib/systemjs/dist/system.src.js"></script>
    <script src="lib/extensions/ng2-bootstrap/bundles/ng2-bootstrap.js"></script>
    <!-- Configure SystemJS -->
    <script src="app/install.config.js"></script>
    <script>
    System.import('app/install').catch(function (err) { console.error(err); });
    </script>
</environment>
<!-- TODO: Libraries should be the minified versions but not all frameworks are working with min files -->
<environment names="Staging,Production">
    <base href="~/" />
    <!-- Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <script src="lib/core-js/client/shim.min.js"></script>
    <script src="lib/zone.js/dist/zone.js"></script>
    <script src="lib/reflect-metadata/Reflect.js"></script>
    <script src="lib/systemjs/dist/system.src.js"></script>
    <script src="lib/extensions/ng2-bootstrap/bundles/ng2-bootstrap.js"></script>
    <!-- Configure SystemJS -->
    <script src="install.config.js"></script>
    <script>
    System.import('app/install').catch(function (err) { console.error(err); });
    </script>
</environment>
}